:root {
    --primario: #19292d;
    --secundario: #8ebddc;
    --fuente:    'Arial Black', sans-serif;
}
/* body {
    font-family: var(--fuente);
    /* background-color: rgb(36, 28, 58) !important; */

body {
  font-family: var(--fuente);
  background-color: rgb(249, 249, 249) !important;
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  background-color: var(--bs-body-bg);
}
.header {
   background-color: var(--primario);

}

.header h1 {
    color: var(--secundario);
    font-family: "Arial";
}
.header p {
    font-size: 2rem;
    margin: 0;
}

.heading {
    color: black;
}
.card {
    background-color: #2a2139 !important;
    border: 1px solid #3d3254 !important;
    color: #ffffff !important;
}

/* .header-with-logo {
    background-color: transparent !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
    height: 60vh;  Ocupa 60% de la altura de la pantalla 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;  Evita que la imagen se desborde 
} */
.header-logo {
    max-width: 80%;
    max-height: 70vh; /* Limita la altura máxima */
    width: auto;
    height: auto;
    object-fit: contain;
}

/* Ajustar sección de navegación para que esté debajo */
.seccion {
    margin-top: 2rem;
}
.menu-toggle {
    padding: 0.5rem 0.75rem;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 200;
    transition: all 0.3s ease;
}
.menu-icon-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

